<article appHighlight [setHighlight]="{shadow: 'box-shadow', shadowX: '0', shadowY: '0', shadowBlur: '36px'}" class="recipe-card">
  <img class="recipe-card__image"  src={{recipeData.photoUrl}} alt="dish">
  <h3 class="recipe-card__heading" (click)="showRecipe(recipeData)">
    {{recipeData.title}}
  </h3>
  <p class="recipe-card__text">{{recipeData.description}}</p>
  <div class="recipe-card__footer-wrap">
    <div class="recipe-card__heart">
      <fa class="recipe-card__icon recipe-card__icon--heart" name="heart"></fa>
      <p class="recipe-card__counter">{{recipeData.likes}}</p>
    </div>
    <div class="recipe-card__footer">
      <div class="recipe-card__icons-wrap">
        <fa class="recipe-card__icon" name="thumbs-up" (click)="like(recipeData.id)"></fa>
        <fa class="recipe-card__icon" name="thumbs-down" (click)="dislike(recipeData.id)"></fa>
      </div>
      <div class="recipe-card__icons-wrap">
        <fa class="recipe-card__icon" name="eye" (click)="showRecipe(recipeData)"></fa>
        <fa class="recipe-card__icon" name="pencil" (click)="editRecipe(recipeData)"></fa>
        <fa class="recipe-card__icon" name="trash" (click)="onRemoveRecipe(recipeData.id)"></fa>
      </div>
    </div>
  </div>
</article>
