@font-face{
  font-family: 'Open Sans Regular';
  src: url('/assets/fonts/Open_Sans/OpenSans-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Open Sans Light';
  src: url('/assets/fonts/Open_Sans/OpenSans-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Open Sans Bold';
  src: url('/assets/fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Open Sans SemiBold';
  src: url('/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf');
  font-weight: normal;
  font-style: normal;
}
